[data-editor-block-type="image"] {
  border: 1px solid hsl(var(--border));
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
[data-editor-block-type="image"] img {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  outline: none;
}
