@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
@layer utilities {
  .after-dot {
    @apply after:absolute after:top-1 after:right-1 after:block after:h-2 after:w-2 after:rounded-full after:bg-ring after:content-['*'];
  }
}

@layer components {
  .bg-sidebar button:focus {
    @apply ring-2 ring-ring ring-offset-2 ring-offset-background bg-accent/50;
  }
}

@layer base {
  body {
    overscroll-behavior: none;
  }
}

.opalSvgDark {
  display: none;
}
.dark .opalSvgDark {
  display: block;
}

.opalSvgLight {
  display: none;
}
.light .opalSvgLight {
  display: block;
}

.dark .sticker-dark {
  display: flex !important;
}
.dark .sticker-light {
  display: none !important;
}

.light .sticker-dark {
  display: none !important;
}
.light .sticker-light {
  display: flex !important;
}
