.mdxeditor-popup-container {
  z-index: 10 !important;
}
.content-editable {
  max-width: 100%;
  /* height: calc(100vh - var(--editor-toolbar-height)); */
}
.mdxeditor {
  overflow-y: scroll;
}
.mdxeditor-toolbar {
  flex-shrink: 0;
  /* height: var(--editor-toolbar-height); */
  /* min-height: var(--editor-toolbar-height); */
  /* border-radius: 0 !important; */
  /* align-items: start !important; */
  /* display: flex; */
  /* mdxeditor-toolbar: */
  /* scrollbar-width: thin; */
  /* overflow-x: visible !impor; */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mdxeditor {
  /* overflow: scroll; */
  /* max-height: 100%; */
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.cm-selectionBackground {
  /* background: blue !important; */
  background-color: hsl(var(--search-highlight-bg)) !important;
  /* opacity: 0.5 !important; */
}

.mdxeditor .cm-highlight-range {
  background-color: hsl(var(--search-highlight-bg)) !important;
  & > * {
    color: hsl(var(--search-highlight-fg)) !important;
  }
}

.mdxeditor-popup-container [class^="_dialogContent_"] {
  flex-direction: column;
}

.mdxeditor {
  [data-editor-block-type="image"] {
    border: 1px solid hsl(var(--border));
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  [data-editor-block-type="image"] img {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    outline: none;
  }
}

.mdxeditor-root-contenteditable,
.mdxeditor-rich-text-editor .content-editable,
.mdxeditor-diff-source-wrapper,
.mdxeditor-rich-text-editor,
.mdxeditor-root-contenteditable > div {
  height: 100%;
}
.mdxeditor-rich-text-editor .content-editable {
  background-color: transparent !important;
}

.mdxeditor [data-lexical-decorator="true"] {
  /* this fixes scroll to calculations */
  display: inline-block;
}

.mdxeditor-source-editor {
  /* caret-color: black !important; */
}

.mdxeditor-source-editor .cm-focused .cm-matchingBracket {
  outline: none !important;
}

.mdxeditor-source-editor .cm-nonmatchingBracket {
  outline: none !important;
}

.hide-rich-text .mdxeditor {
  /* super hack to hide rich text editor */
  [class^="_diffSourceToggleWrapper_"] {
    display: none;
  }
}

.mdxeditor::selection {
  @apply bg-ring text-primary-foreground;
}
