@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::selection {
    @apply bg-ring text-foreground;
  }
}

html {
  font-size: 0.75rem;
}

.opalSvgDark {
  display: none;
}
.dark .opalSvgDark {
  display: block;
}

.opalSvgLight {
  display: none;
}
.light .opalSvgLight {
  display: block;
}

.dark .sticker-dark {
  display: flex !important;
}
.dark .sticker-light {
  display: none !important;
}

.light .sticker-dark {
  display: none !important;
}
.light .sticker-light {
  display: flex !important;
}
