@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::selection {
    @apply bg-ring text-white;
  }

  /* .source-editor::selection {
    @apply bg-ring text-primary;
  } */

  .mdxeditor::selection {
    @apply bg-ring text-primary-foreground;
  }
}
