@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    /* Non-color variables that won't be overridden by theme registry */
    --navbar-height: 2.5rem;
    --editor-toolbar-height: 3.5rem;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
  *::selection {
    background-color: var(--ring);
    color: var(--primary-foreground) !important;
  }
}
