.code-mirror-source-editor {
  .cm-activeLine {
    background-color: inherit !important;
    & > * {
      color: inherit !important;
    }
  }
}

.code-mirror-source-editor {
  .cm-highlight-range,
  .cm-selectionBackground {
    background-color: var(--ring) !important;
    & > * {
      color: var(--foreground) !important;
    }
  }
}
